* {
    box-sizing: border-box;   
}

html {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7de;
}

.inner-container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 70px 20px 100px;
    background-color: #f7f7f7de;
}

.container-about-book {
    margin: 0 -5px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 10px;
}

.container-books {
    display: flex;
    flex-direction: column;
}

.books {
    border-radius: 10px;
    padding-top: 30px;
    width: calc(100%/4 - 20px);
    background-color: white;
    box-shadow: 1px 1px 3px #ccc;
    text-align: center;
    line-height: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.image-book {
    width: 150px;
    height: 170px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.443);
    margin: 0 20px;
}

span {
    background-color: #caf6e8;
    border-radius: 10px;
    font-size: 11px;
    color: #264a3d;
    font-weight: 500;
    padding: 0 5px;
    margin: 0 20px 10px;
}

h1 {
    font-size: 55px;
    font-weight: 800;
    padding-bottom: 70px;
}

.book-title {
    font-size: 13px;
    font-weight: 600;
    margin: 0 20px;
}

.book-year {
    font-size: 13px;
    color: gray;
    font-weight: 400;
    flex-grow: 1;
    margin: 0 20px; 
}

.book-authors {
    background-color: #caf6e8;
    border-radius: 10px;
    font-size: 11px;
    color: #264a3d;
    font-weight: 500;
    padding: 0 5px;
    margin: 0 20px 10px;
}

.container-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: 1px solid rgb(200, 195, 195);
}

.button-edit {
    width: calc(100% / 2);
    font-size: 13px;
    font-weight: 600;
    color: rgb(110 101 101);
    padding: 15px 0;
    border: none;
    background-color: white;
}

.button-edit-change {
    border-bottom-left-radius: 15px;
    border-right: 1px solid rgb(200, 195, 195);
}

.button-edit-delete {
    border-bottom-right-radius: 15px;
}

.button-border-right {
    border-right: 1px solid rgb(200, 195, 195);
}

.form-newbook {
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    margin: 0 0 50px;
    padding: 50px 40px;
    border-radius: 10px;
    border: 1px solid rgb(139 133 133);
}

.button-add {
    background-color: white;
    border: 2px solid #caf6e8;
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.input-add {
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(139 133 133);
    outline: none;
}

.title-add {
    font-size: 15px;
    font-weight: 500;
    color: rgb(139 133 133);
}

.button-save {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(222 222 222);
    margin-bottom: 50px;
    margin-top: 10px;
    font-size: 15px;
    color: #403a3a;
    cursor: pointer;
}

.button-save:hover {
    background-color: #caf6e8;
}

.error {
    color: red;
    text-align: center;
}

.close-icon {
    display: none;
    width: 35px;
}

.add-icon {
    width: 35px;
}


@media (max-width: 1024px) {
    .books {
        width: calc(100%/3 - 20px);   
    }

    h1 {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .books {
        width: calc(100%/2 - 20px); 
    }

    h1 {
        font-size: 45px;
        text-align: center;
    }

    .form-newbook {
        width: 100%;
    }

    .input-add {
        font-size: 18px;
        padding: 10px 10px;
    }

    .button-save {
        padding: 20px;
        font-size: 18px;
    }
}

@media (max-width: 640px) {
    .books {
        width: 90%; 
        gap: 10px;
    }   

    h1 {
        font-size: 40px;
        text-align: center;
    }
}


